.event-wrap-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.event-page-wrap {
  margin: 0 20px;
}
.event-page-image {
display: none;
}
.event-page-image-large{
  width: 500px;
  height: 500px;
}

.event-page-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
}
.event-page-host {
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #828282;
  margin-top: 4px;
  margin-bottom: 16px;
}

.event-detail {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.event-detail:hover {
  cursor: pointer;
}
.event-card-icon-wrap {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.event-details-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.event-detail-text-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: center;
}
.event-detail-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #240d57;
  margin: 0;
}
.event-detail-text {
  font-weight: 400;
  margin-top: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .event-wrap-main{
    display: block;
  }
  .event-page-image-large{
    display: none;
  }
  .event-page-image{
    display: block;
    width: 100%;
  }
  .event-page-header {
    margin-top: 11px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }
  .event-page-host {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    color: #828282;
    margin-top: 4px;
    margin-bottom: 16px;
  }
}