.create-page-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  background: linear-gradient(
    90deg,
    rgba(204, 182, 255, 1) 35%,
    rgba(237, 229, 255, 1) 100%
  );
}

.create-page-label {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin: 0 0 4px 4px;
}
.create-page-input {
  font-size: 14px;
  font-weight: 300;
  height: 36px;
  padding: 14px;
  color: #501fc1;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}
.create-page-input:hover {
  font-weight: 700;
}
.create-page-input::placeholder {
  color: #ccb6ff;
}

.create-page-input:focus-visible {
  outline: none;
  border: 1px solid #8456ec;
  background-color: #e87bf8;
  /* color:white; */
}
input[type="file"] {
  display: none;
}
.create-page-cover-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.create-page-file {
  background: #f2f2f2;
  color: #501fc1 !important;
  border-radius: 10px;
  padding: 6px;
  max-width: 150px;
  height: 36px;
  border: none;
  font-weight: 300;
  font-size: 16px;
  margin-top: 6px;
  border: 1px solid #501fc1;
  box-shadow: #501fc1 5px 5px 5px 0px;
}
.create-page-file:hover {
  cursor: pointer;
}

.create-page-cover {
  margin-bottom: 0;
  margin-top: 4px;
}
input:hover {
  background-color: #e87bf8;
}

.continue-btn {
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  padding: 16px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-top: 36px;
}

form{
  width: 500px;
}
@media screen and (max-width: 769px) {
  form {
    width: auto;
  }
}
