html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  color: #240D57;
  background-color: #F6F2FF;
}

@import "../Components/HomePage/index.css";
@import "../Components/Button/index.css";
@import "../Components/EventPage/index.css";
@import "../Components/Create/index.css"